<!--
  Generated template for the ModalCrewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!pessoa">Personagem</ion-title>
    <ion-title *ngIf="pessoa">{{pessoa.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <i class="material-icons">close</i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="black-content">
  <div *ngIf="crew">
    <!-- Equipe Tecnica -->
    <div class="row" style="margin-top:0px;" *ngIf="crew.length>0">
      <div class="col">
        <div>
          <table>
            <tr>
              <td class="tabela-td-100 texto-esquerda">
                <h2 class="header header-title">Participação na Equipe Técnica ({{crew.length}})</h2>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let equipe of crew; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" (click)="abreFilme(equipe.id)">
              <td class="tabela-celula-imagem">
                <img *ngIf="equipe.poster_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + equipe.poster_path"/>
                <img *ngIf="!equipe.poster_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/poster.jpg'" />
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{equipe.title}}</div>
                <div class="tabela-subtitulo">Departamento</div>
                <div class="tabela-titulo">{{equipe.department}}</div>
                <div class="tabela-subtitulo">Atividade</div>
                <div class="tabela-titulo">{{equipe.job}}</div>
                <div class="tabela-subtitulo">Data do Lançamento</div>
                <div class="tabela-titulo">{{utilProvider.mascaraData(equipe.release_date)}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/Equipe Tecnica -->
  </div>
</ion-content>