page-modal-comentario {

    .card-image{
        background-image: url("../../assets/imgs/background/popcine.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size:cover;
    }
    .anchor{
        margin: 0px;
        padding: 0px;
        border: 0px solid #00F;
    }
    .shadow{
        text-shadow: 2px 2px #000;
        font-family: 'Poiret One',  sans-serif;
    }
    .card-image{
        border-bottom: 0px solid #666
    }
    .filme-date{
        color: #999;
        text-align: center;
        font-weight: 200;
        font-size: 16px;
    }
    .filme-title{
        color: #ff9800;
        text-align: center;
    }
    .circulo-float{
        position: absolute;
        z-index: 99;
        left: 50%;
        margin-left: -20px;
        bottom:-30px;
    }
    .input-tag{
        color: #999;
        font-size: 26px;
    }
    .input-fav{ 
        border: 0px solid #666;
        font-size:26px; 
        padding:0px 10px; 
        color:#AAA;
    }
    .input-fav:focus{
        color:#FFF;
        border-bottom: 1px solid #AAA !important;
        box-shadow: none!important;
    }
    .input-fav::placeholder {
        color: #333;
    }
    .input-icon{
        color:#AAA;
        font-size:32px;
    }
    .tag-chip{
        font-size:20px;
        background-color: #000;
        color:#AAA;
    }
    .tag-chip i{
        background-color: #333;
        font-size: 14px;
        
        border-radius: 8px;
        padding: 2px; 
    }
 
    /** /
    .input-field label{
        color: #999 !important;
        font-size: 16px;
    }

    .materialize-textarea{
        min-height: 120px;
        color: #AAA;
        font-size: 22px;
        border-bottom: 1px solid #999; 
    }
    
    .materialize-textarea:focus {
        border-bottom: 1px solid #F90 !important; 
    }
    /**/
    
    .materialize-textarea{
        min-height: 80px;
        color: #FFF;
        font-size: 22px;
        border-bottom: 1px solid #999; 
    }
    .input-field label{
        color: #999 !important;
        font-size: 16px;
    }

    .input-field textarea:focus + label {
        color: #AAA;
      }
      
    .row .input-field textarea:focus {
        border-bottom: 1px solid #000;
        //border-bottom: 1px solid #F90;
        box-shadow: 0 1px 0 0 #F80;
    }
    .btn-comentario{
        background-color: #ffab40 ;
    }
    .btn-comentario:hover{
        background-color: #ffab40;
    }
    .btn-comentario:visited{
        background-color: #ff9100;
    }
    .btn-comentario:focus{
        background-color: #ff9100;
    }
    .btn-comentario:actived{
        background-color: #ff6d00;
    }

    .linha-tabs{
        background-color: #222;
        padding:5px 5px 0px 5px; 
    }
    .linha-tabs .col{
        height: 40px;
        margin: 0px;
        color: #999;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
        border-bottom: 1px solid #333;
    }
    .linha-tabs .active{
        color:#999;
        border-bottom: 0px solid #F90;
        background-color: #111;
    }
    .col-comentario{
        color:#FFF;
        font-size: 16px;
    }
    .col-cresp{
        color:#AAA;
        font-size: 14px;
        text-align: left;
        margin-top:5px;
    }
    .col-cdata{
        color:#AAA;
        font-size: 14px;
        text-align: right;
        margin-top:5px; 
    }
    .col-icons{
        font-size:11px;
    }
    .tr-col{
        border-bottom:1px solid #333;
        padding-bottom:10px;  
    }
    .td-col-img{
        width: 20%;
        border: 0px solid #ccc;
        padding: 3px;
        margin: 0px;
    }
    .td-col-img-responsive{
        width: 100% !important;
        height: auto !important;
    }
    .td-col-txt{
        width: 75%;
        vertical-align: top;
        padding-left: 8px;
    }
    .td-col-inf{
        width: 5%;
        color:#666;
        background-color: #222;
    }
    .td-col-txt-pri{
        color:#F90;
        font-size: 18px;
        display: block;
        display: -webkit-box;
        height: 22px;
        margin: 3px auto;
        line-height: 1.4;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .td-col-txt-sec{
        color:#AAA;
        font-size: 14px;
    }
    .td-col-txt-ter{
        font-size: 14px;
    }
    .left{
        padding: 0;
        margin: 0;
        text-align: left;
        color:#666;
        margin: 0px !important;
        padding:0px !important;
    }
    .center{
        padding: 0;
        margin: 0;
        text-align: center;
        color:#666;
        margin: 0px !important;
        padding:0px !important;
    }
    .right{
        padding: 0;
        margin: 0;
        text-align: right;
        color:#666;
        margin: 0px !important;
        padding:0px !important;
    }
    .titulo{
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        font-size: 18px;
        color: #DDD;
    }
    .col-linha-esq{
        height: 80px;
        border-left: 0px solid #F90;
    }
    .col-linha-esq-user{
        margin:20px 0px;
        color:#ffd180;
        text-align: right;
        vertical-align: middle;
    }
    
    .col-linha-dir{
        height: 80px;
        border-left: 0px solid #666;
    }
    
    .col-linha-dir-data{
        color:#ffab40;
        margin-top:40px;
        
    }
    
    .col-linha-com{
        color:#CCC;
    }

    .col-avalie{
        color:#999;
        text-decoration: underline;
        font-style: italic;
        margin: 0px !important;
        padding: 0px !important;
    }
    .col-esq{
        color:#666;
        text-align: center;
    }
    .col-ctr{
        color:#666;
        text-align: center;
    }
    .col-dir{
        color:#666;
        text-align: center;
    }
}
