page-modal-colecao {
    .card-image{
        border-bottom: 1px solid #666;
    }
    .card-title{
        padding:15px;
        font-size: 26px;
        text-align: center;
        font-weight: 400;
    }

    
}
