<!--
  Generated template for the FilmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>Filme</ion-title>
      <ion-buttons end>
      <button ion-button (click)="utilProvider.abreMenuToggle()">
        <i class="material-icons">menu</i>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="black-content">

  <div *ngIf="filme">
    <!-- Card -->
    <div class="row filme" style="margin:0px; padding:0px;">
      <div class="col" style="margin:0px; padding:0px;">
        <div class="card" style="margin:0px; padding:0px;">
          <div class="card-image waves-effect waves-block waves-light" style="margin:0px; padding:0px;">
            <img *ngIf="filme.backdrop_path" class="activator" [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" />
            <img *ngIf="!filme.backdrop_path" class="activator" [src]="'assets/imgs/background/popcine.jpg'" />
          </div>
          <div class="card-content">
            <span class="card-title activator">{{filme.title}}
              <i class="material-icons right">more_vert</i>
            </span>
            <div class="row" style="padding:0px; margin:0px;">
              <div class="col s4 left-alin">
                {{filme.lancamento}}
              </div>
              <div class="col s4 center-align">
                {{filme.genres}}
              </div>
              <div class="col s4 right-align">
                {{filme.languages}}
              </div>
            </div>
          </div>
          <div class="card-reveal" style="background-color:black;">
            <span class="card-title">{{filme.title}}
              <i class="material-icons right">close</i>
            </span>
            <div class="card-subtitle">Sinopse</div>
            <div>
              <p *ngIf="filme.overview" class="card-sinopse" [innerHTML]="filme.overview"></p>
              <p *ngIf="!filme.overview" class="card-sinopse">Sinopse não disponível.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Card -->

    <!-- Botoes (trailer, favoritos, compartilhar, nota media) -->
    <div class="row linha">
      <div class="col s3 coluna">
        <div *ngIf="filme.trailer" (click)="openVideo(filme.trailer)" class="circulo waves-effect waves-light">
          <i class="material-icons">theaters</i>
        </div>
        <div *ngIf="!filme.trailer" (click)="utilProvider.showToast('Trailer não disponível!')" class="circulo disable waves-effect waves-light">
          <i class="material-icons">theaters</i>
        </div>
      </div>
      <div class="col s3 coluna">
        <div (click)=" insertFavorito(filme)" class="circulo waves-effect waves-light">
          <i class="material-icons">favorite</i>
        </div>
      </div>
      <div class="col s3 coluna">
        <div (click)="compartilharFilme(filme)" class="circulo waves-effect waves-light">
          <i class="material-icons">share</i>
        </div>
      </div>
      <div class="col s3 coluna">
        <div class="circulo waves-effect waves-light" style="font-size:18px;" (click)="utilProvider.showToast('Média em '+ filme.vote_count +' avaliações.')"
          [innerHTML]="filme.vote_average"></div>
      </div>
    </div>
    <!--/Botoes (trailer, favoritos, compartilhar, nota media) -->

    <!-- Ficha Tecnica -->
    <div class="row" style="margin-top:0px;">
      <div class="col s12 m7">
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalTecnicaPage', filme)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Ficha Técnica</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img *ngIf="filme.poster_path" (click)="utilProvider.abreImagem('https://image.tmdb.org/t/p/w500/' + filme.poster_path, filme.title)" class="responsive-img" [src]="'https://image.tmdb.org/t/p/w185/' + filme.poster_path" />
            <img *ngIf="!filme.poster_path" class="responsive-img" [src]="'assets/imgs/background/poster.jpg'" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div *ngIf="arrayIndice(creditos.crew,'Director')>=0">
                <div class="tabela-subtitulo">Diretor</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Director')].name}}</div>
              </div>
              <div *ngIf="arrayIndice(creditos.crew,'Producer')>=0">
                <div class="tabela-divisor">&nbsp;</div>
                <div class="tabela-subtitulo">Produção</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Producer')].name}}</div>
              </div>
              <div *ngIf="arrayIndice(creditos.crew,'Screenplay')>=0">
                <div class="tabela-divisor">&nbsp;</div>
                <div class="tabela-subtitulo">Escritor</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Screenplay')].name}}</div>
              </div>
            </div>
            <div class="card-action">
              <a *ngIf="filme.homepage" href="{{filme.homepage}}" target="_blank">Home Page</a>
              <a *ngIf="!filme.homepage" (click)="utilProvider.showToast('Home Page não disponível!')" style="color:#AAA">Home Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Ficha Tecnica -->

    <!-- Elenco -->
    <div class="row" style="margin-top:0px;" *ngIf="filme.credits.cast">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalElencoPage',filme)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Elenco</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let elenco of filme.credits.cast; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abrePessoa(elenco.id)">
              <td class="tabela-celula-imagem">
                <div class="quadrado">
                  <img *ngIf="elenco.profile_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + elenco.profile_path" />
                  <img *ngIf="!elenco.profile_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/poster.jpg'" />
                </div>
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{elenco.name}}</div>
                <div class="tabela-subtitulo">{{elenco.character}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/Elenco -->

    <!-- Filmes Semelhantes -->
    <div class="row" style="margin-top:0px;" *ngIf="semelhantes">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalSemelhantesPage', filme)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Títulos Semelhantes</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let semelhante of semelhantes; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abreFilme(semelhante.id)">
              <td class="tabela-celula-imagem">
                <img class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + semelhante.backdrop_path" />
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{semelhante.title}}</div>
                <div class="tabela-subtitulo">Nota Média: {{semelhante.vote_average}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- /Filmes Semelhantes -->
  </div>
</ion-content>