<!--
  Generated template for the FilmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Filme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="filme" class="row filme" style="margin:0px; padding:0px;">
    <div class="col" style="margin:0px; padding:0px;">
      <!-- Card -->
      <div class="card" style="margin:0px; padding:0px;">
        <div class="card-image waves-effect waves-block waves-light" style="margin:0px; padding:0px;">
          <img class="activator" [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{filme.title}}
            <i class="material-icons right">more_vert</i>
          </span>
          <p *ngIf="filme.trailer">
            <a (click)="abreTrailer(filme.trailer)">
              <i class="material-icons anchor-icons tael">play_arrow</i>Trailer
            </a>
          </p>
          <p *ngIf="!filme.trailer">
            <a (click)="showToast('Trailer não disponível!')" class="disable">
              <i class="material-icons anchor-icons">play_arrow</i>Trailer
            </a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{filme.title}}
            <i class="material-icons right">close</i>
          </span>
          <p [innerHTML]="filme.overview"></p>
        </div>
      </div>
    </div>
  </div>

</ion-content>