<!--
  Generated template for the FilmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filme</ion-title>
    <ion-buttons end>
      <button ion-button (click)="utilProvider.abreMenuToggle()">
        <i class="material-icons">menu</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="black-content">


  <div *ngIf="filme">
    <!-- Card -->
    <div class="row filme" style="margin:0px; padding:0px;">
      <div class="col" style="margin:0px; padding:0px;">
        <div class="card" style="margin:0px; padding:0px;">
          <div class="card-image waves-effect waves-block waves-light" style="margin:0px; padding:0px;">

            <!-- icon esquerda -->
            <div *ngIf="filme.backdrop_path" class="card-image-icon-esquerda">
              <a (click)="abrePage('GaleriaImagensPage', filme, 'backdrops')" class="btn btn-floating waves-effect waves-light">
                <i class="material-icons">add</i>
              </a>
            </div>
            <!--/icon esquerda -->

            <!-- Imagem -->
            <img *ngIf="filme.backdrop_path" (click)="utilProvider.abreImagem('https://image.tmdb.org/t/p/w500/' + filme.backdrop_path, filme.title)"
              [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" />
            <img *ngIf="!filme.backdrop_path" [src]="'assets/imgs/background/popcine.jpg'" />
            <!-- /Imagem -->

            <!-- icon direita -->
            <div *ngIf="user.uid" class="card-image-icon-direita">
              <table>
                <tr>
                  <td style="position:relative;">
                    <div class="card-image-icon-direita-top">
                      <a (click)="assisti(filme.id)" class="btn btn-floating waves-effect waves-light">
                        <i *ngIf="!filmeAssisti" class="material-icons" style="color:#666">theaters</i>
                        <i *ngIf="filmeAssisti" class="material-icons" style="color:#FFF">theaters</i>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="position:relative;">

                    <div *ngIf="filmeGostei" class="toolbar-fixed fixed-action-btn horizontal click-to-toggle">
                      <a (click)="gostei(filme.id,0)" class="btn btn-floating waves-effect waves-light">
                        <i *ngIf="filmeGostei==1" class="material-icons" style="color:#FFF">sentiment_very_dissatisfied</i>
                        <i *ngIf="filmeGostei==2" class="material-icons" style="color:#FFF">sentiment_dissatisfied</i>
                        <i *ngIf="filmeGostei==3" class="material-icons" style="color:#FFF">sentiment_neutral</i>
                        <i *ngIf="filmeGostei==4" class="material-icons" style="color:#FFF">sentiment_satisfied</i>
                        <i *ngIf="filmeGostei==5" class="material-icons" style="color:#FFF">sentiment_very_satisfied</i>
                      </a>
                    </div>

                    <div *ngIf="!filmeGostei" class="toolbar-fixed fixed-action-btn horizontal click-to-toggle">
                      <a class="btn btn-floating waves-effect waves-light">
                        <i class="material-icons" style="color:#666">sentiment_neutral</i>
                      </a>
                      <ul>
                        <li>
                          <a (click)="gostei(filme.id,1)" class="btn-floating orange waves-effect waves-block waves-light">
                            <i class="material-icons">sentiment_very_dissatisfied</i>
                          </a>
                        </li>
                        <li>
                          <a (click)="gostei(filme.id,2)" class="btn-floating orange darken-1 waves-effect waves-block waves-light">
                            <i class="material-icons">sentiment_dissatisfied</i>
                          </a>
                        </li>
                        <li>
                          <a (click)="gostei(filme.id,3)" class="btn-floating orange darken-2 darken-2 waves-effect waves-block waves-light">
                            <i class="material-icons">sentiment_neutral</i>
                          </a>
                        </li>
                        <li>
                          <a (click)="gostei(filme.id,4)" class="btn-floating orange darken-3 waves-effect waves-block waves-light">
                            <i class="material-icons">sentiment_satisfied</i>
                          </a>
                        </li>
                        <li>
                          <a (click)="gostei(filme.id,5)" class="btn-floating orange darken-4 waves-effect waves-block waves-light">
                            <i class="material-icons">sentiment_very_satisfied</i>
                          </a>
                        </li>
                      </ul>
                    </div>


                  </td>
                </tr>
                <tr>
                  <td style="position:relative;">
                    <div class="card-image-icon-direita-bottom">
                      <a (click)="recomendo(filme.id)" class="btn btn-floating waves-effect waves-light">
                        <i *ngIf="!filmeRecomendo" class="material-icons" style="color:#666">loyalty</i>
                        <i *ngIf="filmeRecomendo" class="material-icons" style="color:#FFF">loyalty</i>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="!user.uid" class="card-image-icon-direita">

              
                <table>
                    <tr>
                      <td style="position:relative;">
                        <div class="card-image-icon-direita-top">
                          <a (click)="utilProvider.showToast(alertLogoff)" class="btn btn-floating waves-effect waves-light">
                            <i *ngIf="!filmeAssisti" class="material-icons" style="color:#666">theaters</i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="position:relative;">
    
                        <div class="toolbar-fixed fixed-action-btn horizontal click-to-toggle">
                          <a (click)="utilProvider.showToast(alertLogoff)" class="btn btn-floating waves-effect waves-light">
                            <i class="material-icons" style="color:#666">sentiment_neutral</i>
                          </a>
                        </div>
    
                      </td>
                    </tr>
                    <tr>
                      <td style="position:relative;">
                        <div class="card-image-icon-direita-bottom">
                          <a (click)="utilProvider.showToast(alertLogoff)" class="btn btn-floating waves-effect waves-light">
                            <i class="material-icons" style="color:#666">loyalty</i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </table>


            </div>
            <!--/icon direita -->

          </div>
          <div class="card-content">
            <span class="card-title activator">{{filme.title}}
              <i class="material-icons right">more_vert</i>
            </span>
            <div class="row" style="padding:0px; margin:0px;">
              <div class="col s4 left-alin">
                {{filme.lancamento}}
              </div>
              <div class="col s4 center-align">
                {{filme.genres}}
              </div>
              <div class="col s4 right-align">
                {{filme.languages}}
              </div>
            </div>
          </div>
          <div class="card-reveal" style="background-color:black;">
            <span class="card-title">{{filme.title}}
              <i class="material-icons right">close</i>
            </span>
            <div class="card-subtitle">Sinopse</div>
            <div>
              <p *ngIf="filme.overview" class="card-sinopse" [innerHTML]="filme.overview"></p>
              <p *ngIf="!filme.overview" class="card-sinopse">Sinopse não disponível.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Card -->

    <!-- Botoes (trailer, favoritos, compartilhar, nota media) -->
    <div class="row linha">
      <div class="col s3 coluna">
        <div *ngIf="user.uid">
          <div *ngIf="comentario" (click)="openModalPage('ModalComentarioPage',filme)" class="circulo waves-effect waves-light">
            <i class="material-icons">textsms</i>
          </div>

          <div *ngIf="!comentario" (click)="openModalPage('ModalComentarioPage',filme)" class="circulo disable waves-effect waves-light">
            <i class="material-icons">textsms</i>
          </div>
        </div>
        <div *ngIf="!user.uid">
            <div (click)="utilProvider.showToast(alertLogoff)" class="circulo disable waves-effect waves-light">
                <i class="material-icons">textsms</i>
            </div>
        </div>
      </div>
      <div class="col s3 coluna">
        <div *ngIf="user.uid">
          <div (click)="openModalPage('ModalFavoritosPage',filme)" class="circulo waves-effect waves-light">
            <i *ngIf="filmeFavorito" class="material-icons">favorite</i>
            <i *ngIf="!filmeFavorito" class="material-icons" style="color:#666;">favorite</i>
          </div>
        </div>
        <div *ngIf="!user.uid">
          <div (click)="utilProvider.showToast(alertLogoff)" class="circulo disable waves-effect waves-light">
            <i class="material-icons">favorite</i>
          </div>
        </div>
      </div>
      <div class="col s3 coluna">
        <div (click)="compartilharFilme(filme)" class="circulo waves-effect waves-light">
          <i class="material-icons">share</i>
        </div>
      </div>
      <div class="col s3 coluna">
        <div class="circulo waves-effect waves-light" style="font-size:18px;" (click)="utilProvider.showToast('Média em '+ filme.vote_count +' avaliações.')"
          [innerHTML]="filme.vote_average">
        </div>
      </div>
    </div>
    <!--/Botoes (trailer, favoritos, compartilhar, nota media) -->

    <!-- Ficha Tecnica -->
    <div class="row" style="margin-top:0px;">
      <div class="col s12 m7">
        <!--
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalTecnicaPage', filme)">
        -->
        <div class="row waves-effect waves-block waves-light" (click)="abrePage('ModalTecnicaPage', filme, filme.credits.crew)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Ficha Técnica</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <div *ngIf="filme.poster_path" class="card-image-icon">
              <a (click)="abrePage('GaleriaImagensPage', filme, 'posters')" class="btn btn-floating waves-effect waves-light">
                <i class="material-icons">add</i>
              </a>
            </div>
            <img *ngIf="filme.poster_path" (click)="utilProvider.abreImagem('https://image.tmdb.org/t/p/w500/' + filme.poster_path, filme.title)"
              class="responsive-img" [src]="'https://image.tmdb.org/t/p/w185/' + filme.poster_path" />
            <img *ngIf="!filme.poster_path" class="responsive-img" [src]="'assets/imgs/background/poster.jpg'" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div *ngIf="arrayIndice(creditos.crew,'Director')>=0">
                <div class="tabela-subtitulo">Diretor</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Director')].name}}</div>
              </div>
              <div *ngIf="arrayIndice(creditos.crew,'Producer')>=0">
                <div class="tabela-subtitulo">Produção</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Producer')].name}}</div>
              </div>
              <div *ngIf="arrayIndice(creditos.crew,'Screenplay')>=0">
                <div class="tabela-subtitulo">Escritor</div>
                <div class="tabela-titulo">{{creditos.crew[arrayIndice(creditos.crew,'Screenplay')].name}}</div>
              </div>
              <div *ngIf="filme.runtime">
                <div class="tabela-subtitulo">Duração</div>
                <div class="tabela-titulo">{{filme.runtime}} min</div>
              </div>
            </div>
            <div class="card-action">
              <a *ngIf="filme.belongs_to_collection" (click)="abrePage('ModalColecaoPage', filme, filme.belongs_to_collection)">Franquia</a>
              <a *ngIf="!filme.belongs_to_collection" (click)="utilProvider.showToast('Não pertence a nenhuma franquia')" style="color:#AAA">Franquia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Ficha Tecnica -->

    <!-- Trailer -->
    <div class="row" style="margin-top:0px;" *ngIf="filme.trailer">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="openModalVidoes()">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Videos</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela">
            <tr class="tabela-linha waves-effect waves-block waves-light" (click)="openVideo(filme.trailer)">
              <td class="tabela-celula-imagem">
                <div class="retangulo">
                  <img *ngIf="filme.trailer" class="tabela-celula-imagem-img" [src]="'http://i1.ytimg.com/vi/'+ filme.trailer +'/default.jpg'"
                  />
                </div>
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-subtitulo" style="font-size:6px;">&nbsp;</div>
                <div class="tabela-titulo">Trailer Oficial</div>
                <div class="tabela-subtitulo">Site: Youtube</div>
                <div class="tabela-subtitulo">Tipo: Trailer</div>
              </td>
              <td class="tabela-celula-icon">
                &nbsp;
                <!--<i class="material-icons">chevron_right</i>-->
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/Trailer -->

    <!-- Outros videos -->
    <div class="row" style="margin-top:0px;" *ngIf="!filme.trailer && videos ">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="openModalVidoes()">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Videos</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let v of videos; let i = index" (click)="openVideo(v.key)">
            <!--Outros Videos-->
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i < 1">
              <td class="tabela-celula-imagem">
                <div class="retangulo">
                  <img *ngIf="v.key" class="tabela-celula-imagem-img" [src]="'http://i1.ytimg.com/vi/'+ v.key +'/default.jpg'" />
                </div>
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{v.name}}</div>
                <div class="tabela-subtitulo">Site: {{v.site}}</div>
                <div class="tabela-subtitulo">Tipo: {{v.type}}</div>
              </td>
              <td class="tabela-celula-icon">
                &nbsp;
                <!--<i class="material-icons">chevron_right</i>-->
              </td>
            </tr>
            <!--/Outros Videos-->
          </table>
        </div>
      </div>
    </div>
    <!--/Videos -->

    <!-- Elenco -->
    <div class="row" style="margin-top:0px;" *ngIf="filme.credits.cast">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="abrePage('ModalElencoPage', filme, filme.credits.cast)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Elenco</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let elenco of filme.credits.cast; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abrePessoa(elenco.id)">
              <td class="tabela-celula-imagem">
                <div class="quadrado">
                  <img *ngIf="elenco.profile_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + elenco.profile_path"
                  />
                  <img *ngIf="!elenco.profile_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/poster.jpg'" />
                </div>
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{elenco.name}}</div>
                <div class="tabela-subtitulo">{{elenco.character}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/Elenco -->


    <!-- Filmes Semelhantes -->
    <div class="row" style="margin-top:0px;" *ngIf="semelhantes">
      <div class="col">
        <!--
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalSemelhantesPage', filme)">
        -->
        <div class="row waves-effect waves-block waves-light" (click)="abrePage('ModalSemelhantesPage', filme, semelhantes)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Títulos Semelhantes</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let semelhante of semelhantes; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abreFilme(semelhante.id)">
              <td class="tabela-celula-imagem">
                <img *ngIf="semelhante.backdrop_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + semelhante.backdrop_path"
                />
                <img *ngIf="!semelhante.backdrop_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/popcine.jpg'" />
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{semelhante.title}}</div>
                <div class="tabela-subtitulo">Nota Média: {{semelhante.vote_average}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- /Filmes Semelhantes -->
  </div>
</ion-content>