page-filme {
    .card-image img{
        //z-index: 1;
    }
    .card-image-icon{
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .card-image-icon-esquerda{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 9;
    }
    .card-image-icon-direita{
        position: absolute;
        top: 10px;
        right: 0px;
    }
    
    .card-image-icon-direita-top {
        padding-bottom:55px; 
    }
    
    .card-image-icon-direita-bottom {
        padding-top:5px; 
    }
    
    .btn{
        background-color: #111;
    }
    .btn:active{
        background-color: #f90;
    }
    .btn:visited{
        background-color: #111;
    }

    .btn:hover{
        background-color: #222;
    }

    .btn:link{
        background-color: #111;
    }

    .btn i{
        font-size: 26px;
    }

    .toolbar-fixed {
        position: relative;
        border: 0px solid #F00;
        left: -15px;
        z-index: 9;
    }
    
    .card-image-icon-direita{
        border: 0px solid #FF0;
        z-index: 9;
    }

    .toolbar-fixed ul li {
        -webkit-flex: 1; 
        -ms-flex: 1;
        flex: 1;
        display: inline-block;
        margin: 0;
        height: 100%;
        transition: none;
        position: relative;
        top: -15px;
        z-index: 9;
        margin-left: 7px !important;
        margin-right: 4px !important;
        border: 0px solid #F00;
    }
    .toolbar-fixed ul li a i {
        line-height: inherit;
        font-size: 28px;
        z-index: 9;
    }
    /** /
    .toolbar-fixed ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        top: 0;
        bottom: 0;
    }

    .toolbar-fixed ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    }
    
    
    .toolbar-fixed ul li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    margin: 0;
    height: 100%;
    transition: none;
    position: relative;
    top: -15px;
    
    }
    
    
    .toolbar-fixed ul li a{
      display: block;
      overflow: hidden;
      position: relative;
    
      width: 100%;
      height: 100%;
      background-color: transparent;
      box-shadow: none;
       color: #fff;
      line-height: 56px;
      z-index: 1;
       }
    
    .toolbar-fixed ul li a i {
    line-height: inherit;
    }
    
    .toolbar-fixed ul {
    left: 0;
    right: 0;
    text-align: center;
    }
    
    .toolbar-fixed ul li {
     margin-bottom: 15px;
    }
    /**/
}
