<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
-->
<!--
<ion-content>
  <div class="row" *ngFor="let filme of filmes; let i = index">
    <div class="col">
      <div class="card">
        <div class="card-image">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" />
          <h2 [innerHTML]="filme.title"></h2>
          <p [innerHTML]="filme.original_title"></p>
        </div>
      </div>    
    </div>
  </div>
</ion-content>
-->
<!--
<ion-content class="filmes">
  <div class="row" *ngFor="let filme of filmes; let i = index" style="margin:0px; padding:0px;">
    <div class="col" style="margin:0px; padding:0px;">
      <div class="card" style="margin:0px; padding:0px;">
        <div class="card-image" style="margin:0px; padding:0px;">
          <a class="anchor waves-effect waves-light" style="margin:0px; padding:0px;">
            <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" />
            <span class="shadow card-title" [innerHTML]="filme.title"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
-->

<!-- Content debug -->
<ion-content style="margin:0px; padding:0px;">
  <div class="row debug" *ngFor="let d of debug; let i = index" style="margin:0px; padding:0px;">
      <div class="score"[innerHTML]="d.nota"></div>
      <div class="col" style="margin:0px; padding:0px;">
      <div class="card" style="margin:0px; padding:0px;">
        <div class="card-image" style="margin:0px; padding:0px;">
          <a (click)="abreFilme(d.id)" class="anchor waves-effect waves-light" style="margin:0px; padding:0px;">
            <img [src]="d.img" />
            <span class="shadow card-title" [innerHTML]="d.title"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light red"  menuToggle><i class="material-icons" style="font-size:28px;">menu</i></a>
    </div>
</ion-content>