;page-modal-tecnica {
    .tec-titulo{
        color:#ffb74d;
        color:#AAA;
        padding-left: 20px;
    }
    .tec-info{
        color:#ffb74d;
        padding-left: 30px;
        font-size: 18px;
    }
}
