// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Grid */
.row{
    margin: 0px;
    padding: 0px;
}
.col{
    margin: 0px;
    padding: 0px;
}
/* /Grid */
.toolbar-background {
    background-color: #222;
    background: linear-gradient(#000, #111, #000);
}
ion-header ion-icon.back-button-icon.icon{
    color: #FFF;
}
.toolbar-title{
    color: #FFF;
    font-family: 'Poiret One',  sans-serif;
    font-weight: 600;
    text-align: center;
}

.black-content{
    background-color: #101010;
    font-family: 'Abel', sans-serif;
}

.anchor-icons {
    position: relative;
    top: 7px;
}
A{
    color: #e65100;
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
}
A.disable{
    color: #666;
}
/* Button */
.disable-hover{
    background-color: #222;
    background: linear-gradient(#000, #111, #000);
    color:#FFF;
}
/* Fim Button */
/* Menu */
.menu-content{
    background-color: #111;
}
.menu-list{
    background-color: #222;
}
.nemu-button{
    background-color: #111;
    color: #EEE;
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* Fim Menu */
/* Card */
.card{
    background-color: #000;
    color: #AAA
}
.card-title{
    color: #fb8c00;
}
.card-subtitle{
    font-size: 16px;
    color:#ffb74d;
}
.card-sinopse{
    font-size: 18px;
}
.header-title{
    color: #fb8c00;
    font-size: 19px;
}
/* Slide */
.slide {
    color: #FFF;
}
.slide-image{
    width: 160px;
}
.slide-title{
    color: #fb8c00;
};
.slide-description{
    color: #CCC;
}

.swiper-pagination-bullet {
    background: #444;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #fb8c00;
    opacity: 1;
}
.linha{
    padding: 10px;
}
.coluna{
    padding-top: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.circulo{
    border-radius: 25px;
    background: #000;
    padding: 11px; 
    width: 50px;
    height: 50px;
    border: 2px solid #444;
    color: #EEE;
    text-align: center;
}
.disable{
    color: #444;
}
/* Posicao */
.texto-direita{
    text-align: right;
}
.texto-direita i{
    padding-top: 13px;
    color: #fb8c00;
}

.texto-esquerda{
    text-align: left;
}
/* Fim Posicao*/

/*Table*/
.tabela{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.tabela-linha{
    width: 100%;
    background-color: #000;
    border-bottom: #111 1px solid;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}
.tabela-celula-imagem{
    width: 30%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #F00;
}
.tabela-celula-imagem-img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #FF0;
    vertical-align: top;

}
.tabela-celula-texto{
    vertical-align: top;
    padding-left: 15px;
    border: 0px solid #00A;
    width: 70%;
}
.tabela-titulo{
    font-size: 18px;
    color: #ffb74d;
}
.tabela-subtitulo{
    font-size: 14px;
    color: #AAA;
}
.tabela-celula-icon{
    width: 20px;
    color: #999;
}
.tabela-divisor{
    font-size: 8px;
}
.tabela-td-100{
    width: 100% !important;
    padding-left: 5px;
    padding-right: 5px;
}
.tabela-td-90{
    width: 90% !important;
    padding-left: 5px;
    padding-right: 5px;
}
.tabela-td-80{
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
}
.tabela-td-20{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
.tabela-td-10{
    width: 10%;
    padding-left: 5px;
    padding-right: 5px;
}
/*Image*/
.quadrado {
    border-radius: 0%;
    overflow: hidden;
    /*width: 80px;*/
    height: 80px;
}
.quadrado img {
    display: block;
    width: 80px;
    margin-top: -10%;
    /* Stretch 
      height: 100%;
      width: 100%; 
    min-width: 100%;
    min-height: 100%;
     */
}
.faicon{
    font-size: 25px;
}







