page-intro {

    .slide {
        font-family: 'Abel', sans-serif;
        color: #FFF;
    }
    .slide-image{
        width: 160px;
    }
    .slide-title{
        color: #e65100;
    };
    .slide-description{
        color: #616161;
    }
    .slide-anchor{
        color: #0000AA;
    };
}
