page-intro {

    .slide {
        color: #FFF;
    }
    .slide-image{
        width: 160px;
    }
    .slide-title{
        color: #e65100;
    };
    .slide-description{
        color: #616161;
    }
    .slide-anchor{
        font-family: 'Poiret One', cursive;
        font-weight: 600;
    };
}
