<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!logIn">Saindo</ion-title>
    <ion-title *ngIf="logIn">{{user.nome}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="utilProvider.abreMenuToggle()">
        <i class="material-icons">menu</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="black-content login">
  <div padding *ngIf="!logIn">
    <div padding>
      <div class="row" class="logo-linha">
        <div class="col logo-center">
          <img [src]="'assets/imgs/logo.png'" />
        </div>
      </div>
      <div class="row">
        <div class="col txt-center">
          Pop Cine
        </div>
      </div>
    </div>
  </div>
  
  <div padding *ngIf="logIn">
    <!--Logado -->
    <div class="row" class="logo-linha">
      <div class="col logo-center">
        <img class="circle responsive-img" [src]="user.imagem" />
      </div>
    </div>

    <div class="row">
      <div class="col ">
        <p class="email-center">{{user.email}}</p>
        <!--
        <p class="name-center">{{user.nome}}</p>
        <p class="email-center">{{user.id}}</p>
        <p class="email-center">{{user.tipo}}</p>
        <p class="email-center">{{user.sexo}}</p>
        <p class="email-center">{{user.data_entrada}}</p>
        <p class="email-center">{{user.data_saida}}</p>
        -->
      </div>
    </div>

    <div class="row paddin rodape-fixo">
      <div class="col s6">
        <div class="esquerda">
          &nbsp;
          <!--
          <a (click)="loginFB()" class="waves-effect waves-light grey-text"><i class="material-icons">power_settings_new</i> Entrar</a>
          -->
        </div>
      </div>
      <div class="col s6">
        <div class="direita">
          <a (click)="logoutFB()" class="waves-effect waves-light grey-text">
            <i class="material-icons">power_settings_new</i> Sair</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>