page-login-facebook {
    .logo-linha{
        position: relative;  
        height: 30px;
        margin-bottom: 70px;
    }

    .logo-center{
        position:absolute;
        top:40%;
        left:40%;
        width:80px;
        height:auto;
        clear:both;
        border:0px solid #999;
    }

    ion-icon {
        padding-right:10px;
        border-right: 0px solid #999;
        font-size: 25px; //Preferred size here
    }
    .login{
        background: url(../assets/imgs/background/bgLogin.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;  
    }
    .txt-center{
        text-align: center;
        font-size: 30px;
        margin:20px 10px 30px 10px; 
        color: #FFF;
        text-shadow: 2px 2px #000;
    }
    .name-center{
        border: 0px solid #F00;
        text-align: center;
        font-size: 30px;
        margin:20px 0px 0px 0px; 
        color: #FFF;
        text-shadow: 2px 2px #000;
    }
    .email-center{
        border: 0px solid #FF0;
        text-align: center;
        font-size: 20px;
        color: #FFF;
        margin:0px 0px 30px 0px; 
    }

    .termo-linha{
        background: #000;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
        border-radius: 3px;
        margin: 10px;
        padding: 10px;
    }
    .termo-center{
        border: 0px solid #FF0;
        text-align: center;
        font-size: 16px;
        color: #FFF;
        margin:10px; 
    }
    .termo-center A{
        color: #82b1ff;
    }
    .btn-center{
        text-align: center;
    }
    .btnlogin{
        font-size:20px;
    }
    .rodape-fixo {
        bottom: 30px;
        position: fixed;
        width: 90%;
        text-align: center;
    }

    .rodape-fixo .esquerda{
        color:#FFF;
        text-align: left;
    }
    .rodape-fixo .esquerda i{
        font-size:14px; 
    }
    
    .rodape-fixo .direita{
        color:#FFF;
        text-align: right;
    }
    .rodape-fixo .direita i{
        font-size:14px; 
    }
    
}
