<!--
  Generated template for the PessoaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!pessoa">Personagem</ion-title>
    <ion-title *ngIf="pessoa">{{pessoa.name}}</ion-title>
    <ion-buttons end>
      <!--
      <button ion-button (click)="utilProvider.abreMenuToggle()">
        <i class="material-icons">menu</i>
      </button>
      -->
      <button ion-button (click)="utilProvider.abreMenuToggle()">
        <i class="material-icons">menu</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="black-content">
  <div *ngIf="pessoa">
    <!-- Card -->
    <div class="row" style="margin:0px; padding:0px;">
      <div class="col" style="margin:0px; padding:0px;">
        <div class="filme" style="margin:0px; padding:0px;">
          <div class="card horizontal" style="margin:0px; padding:0px;">
            <div class="card-image" *ngIf="pessoa.images.profiles.length">
              <ion-slides autoplay="5000" loop="true" speed="3000">
                <ion-slide *ngFor="let img of pessoa.images.profiles">
                  <a href="#">
                    <img (click)="utilProvider.abreImagem('https://image.tmdb.org/t/p/w500/' + img.file_path, pessoa.name)" [src]="'https://image.tmdb.org/t/p/w185/' + img.file_path" />
                  </a>
                </ion-slide>
              </ion-slides>
            </div>
            <div class="card-image" *ngIf="!pessoa.images.profiles.length">
              <img [src]="'assets/imgs/background/poster.jpg'" />
            </div>
            <div class="card-stacked">
              <div class="card-pessoa">
                <div *ngIf="pessoa.popularity">
                  <div class="pessoa-label">Populariodade</div>
                  <div class="pessoa-info" [innerHTML]="utilProvider.mascaraRound(pessoa.popularity)"></div>
                </div>
                <div *ngIf="pessoa.birthday" >
                  <div class="pessoa-label">Data de Nascimento</div>
                  <div class="pessoa-info" [innerHTML]="utilProvider.mascaraData(pessoa.birthday)"></div>
                </div>
                <div *ngIf="!pessoa.deathday && pessoa.birthday">
                  <div class="pessoa-label">Idade</div>
                  <div class="pessoa-info" [innerHTML]="utilProvider.mascaraIdade(pessoa.birthday)"></div>
                </div>
                <div *ngIf="pessoa.deathday">
                  <div class="pessoa-label">Falecimento</div>
                  <div class="pessoa-info" [innerHTML]="utilProvider.mascaraData(pessoa.deathday)"></div>
                </div>
                <div *ngIf="!pessoa.deathday">
                  <div class="pessoa-label">Naturalidade</div>
                  <div class="pessoa-info" [innerHTML]="pessoa.place_of_birth"></div>
                </div>
              </div>
              <div class="card-action">
                <a href="#" class="anchor waves-effect waves-light" style="margin:0px; padding:0px; width:100%;">Hope Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Card -->
    <!-- Biografia -->
    <div class="row" style="margin-top:0px;" *ngIf="pessoa.credits.cast.length>0">
      <div class="col">
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalBioPage', pessoa)">
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Biografia</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row" style="padding:0px; margin:0px;">
          <div class="bio-info" style="width:100%;">
            <span *ngIf="pessoa.biography" [innerHTML]="pessoa.biography.substr(0,150) + '...'"></span>
            <span *ngIf="!pessoa.biography">Biografia não disponível.</span>
          </div>
        </div>
      </div>
    </div>
    <!--/Biografia -->

    <!-- Ator -->
    <div class="row" style="margin-top:0px;" *ngIf="pessoa.credits.cast.length>0">
      <div class="col">
        
        <!--
        <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalCastPage', pessoa)">
        -->
        
        <div class="row waves-effect waves-block waves-light" (click)="abrePage('ModalCastPage', filme, pessoa)">
        
          <table>
            <tr>
              <td class="tabela-td-90 texto-esquerda">
                <h2 class="header header-title">Participação como {{pessoa.gender==1?'Atriz':'Ator'}}</h2>
              </td>
              <td class="-tabela-td-10 texto-direita">
                <i class="material-icons">add</i>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="tabela" *ngFor=" let ator of cast; let i = index">
            <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abreFilme(ator.id)">
              <td class="tabela-celula-imagem">
                <img *ngIf="ator.poster_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + ator.poster_path" />
                <img *ngIf="!ator.poster_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/poster.jpg'" />
              </td>
              <td class="tabela-celula-texto">
                <div class="tabela-titulo">{{ator.title}}</div>
                <div class="tabela-subtitulo">Personagem</div>
                <div class="tabela-titulo">{{ator.character}}</div>
                <div class="tabela-subtitulo">Data do Lançamento</div>
                <div class="tabela-titulo">{{utilProvider.mascaraData(ator.release_date)}}</div>
              </td>
              <td class="tabela-celula-icon">
                <i class="material-icons">chevron_right</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/Ator -->

    <!-- Equipe Tecnica -->
    <div class="row" style="margin-top:0px;" *ngIf="pessoa.credits.crew.length>0">
        <div class="col">
          <!--
          <div class="row waves-effect waves-block waves-light" (click)="utilProvider.openModal('ModalCrewPage', pessoa)">
          -->
          <div class="row waves-effect waves-block waves-light" (click)="abrePage('ModalCrewPage', filme, pessoa)">
            <table>
              <tr>
                <td class="tabela-td-90 texto-esquerda">
                  <h2 class="header header-title">Participação na Equipe Técnica</h2>
                </td>
                <td class="-tabela-td-10 texto-direita">
                  <i class="material-icons">add</i>
                </td>
              </tr>
            </table>
          </div>
          <div class="row">
            <table class="tabela" *ngFor=" let equipe of crew; let i = index">
              <tr class="tabela-linha waves-effect waves-block waves-light" *ngIf="i<5" (click)="abreFilme(equipe.id)">
                <td class="tabela-celula-imagem">
                  <img *ngIf="equipe.poster_path" class="tabela-celula-imagem-img" [src]="'https://image.tmdb.org/t/p/w185/' + equipe.poster_path" />
                  <img *ngIf="!equipe.poster_path" class="tabela-celula-imagem-img" [src]="'assets/imgs/background/poster.jpg'" />
                </td>
                <td class="tabela-celula-texto">
                  <div class="tabela-titulo">{{equipe.title}}</div>
                  <div class="tabela-subtitulo">Departamento</div>
                  <div class="tabela-titulo">{{equipe.department}}</div>
                  <div class="tabela-subtitulo">Atividade</div>
                  <div class="tabela-titulo">{{equipe.job}}</div>
                  <div class="tabela-subtitulo">Data do Lançamento</div>
                  <div class="tabela-titulo">{{utilProvider.mascaraData(equipe.release_date)}}</div>
                </td>
                <td class="tabela-celula-icon">
                  <i class="material-icons">chevron_right</i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--/Equipe Tecnica -->
  </div>
</ion-content>