<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>
      <!--
      <input class="input-pesq" (keyup)="fazPesquisa()" type="text" [(ngModel)]="chave" placeholder="titulo do filme" style="font-size:20px; padding:5px 10px; margin-top:15px;">
    -->
      <input class="input-pesq" type="text" [(ngModel)]="chave" placeholder="titulo do filme" style="font-size:20px; padding:5px 10px; margin-top:15px;">

    </ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="rPesquisa" (click)="limpaPesquisa()">
        <i class="material-icons">close</i>
      </button>
      <button ion-button *ngIf="!rPesquisa" (click)="fazPesquisa()">
        <i class="material-icons">search</i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="pfilme black-content">

  <!-- Lista -->
  <div class="row" style="margin:0px; padding:0px;">
    <div class="col" style="margin:0px; padding:0px;">
      <div class="pfilme" *ngFor="let filme of pfilmes; let i = index" style="margin:0px; padding:0px;">
        <div class="score circulo waves-effect waves-light" (click)="utilProvider.showToast('Média em '+ filme.vote_count +' avaliações.')"
          [innerHTML]="filme.vote_average"></div>
        <div class="card" style="margin:0px; padding:0px;">
          <div class="card-image" style="margin:0px; padding:0px;">
            <a (click)="abreFilme(filme.id)" class="anchor waves-effect waves-light" style="margin:0px; padding:0px; width:100%;">

              <img *ngIf="filme.backdrop_path" class="responsive-img" style="width:100%" [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path"
              />
              <img *ngIf="!filme.backdrop_path && filme.poster_path" class="responsive-img" style="width:35%;" [src]="'https://image.tmdb.org/t/p/w500/' + filme.poster_path"
              />
              <img *ngIf="!filme.backdrop_path && !filme.poster_path" class="responsive-img" style="width:35%;" [src]="'assets/imgs/background/poster.jpg'"
              />

              <span class="shadow card-title" [innerHTML]="filme.title + ' ('+ filmeAno(filme.release_date) +')'"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Lista -->
  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--/Infinite Scroll -->

</ion-content>