<!--
  Generated template for the ModalVideosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="filme">{{filme}}</ion-title>
    <ion-title *ngIf="!filme">Vídeos</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <i class="material-icons">close</i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="black-content">

  <!-- Videos -->
  <div class="row" style="margin-top:0px;" *ngIf="videos">
    <div class="col">
      <div>
        <table>
          <tr>
            <td class="tabela-td-100 texto-esquerda">
              <h2 class="header header-title">Videos ({{videos.length}})</h2>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <table class="tabela">
          <tr class="tabela-linha waves-effect waves-block waves-light" *ngFor=" let v of videos; let i = index" (click)="openVideo(v.key)">
            <td class="tabela-celula-imagem">
              <img *ngIf="v.key" class="responsive-img" [src]="'http://i1.ytimg.com/vi/'+ v.key +'/default.jpg'" />
              <img *ngIf="!v.key" class="responsive-img" [src]="'assets/imgs/background/poster.jpg'" />
            </td>
            <td class="tabela-celula-texto">
              <div class="tabela-titulo">{{v.name}}</div>
              <div class="tabela-subtitulo">Site: {{v.site}}</div>
              <div class="tabela-subtitulo">Tipo: {{v.type}}</div>
            </td>
            <td class="tabela-celula-icon">
              <!--<i class="material-icons">chevron_right</i>-->
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!--/Videos -->


</ion-content>