page-modal-bio {
    
    .card-stacked
    .card-action{
        height: 20px;
        border-top: 1px solid #333;
        position: absolute;
        bottom: 15px;
        width: 100%;;
    }
    .bio-title{
        font-size: 16px;
        color:#ffb74d;
        /** /
        color:#999;//#ff9800;
        background-color: #000;
        border-bottom: 1px solid #333;
        font-size: 15px;
        /**/
    }
    .bio-info{
        font-size: 18px;
        color: #AAA;
        /** /
        font-size: 19px;
        color: #fb8c00;
        padding-top: 15px;
        /**/
    }

}
